<div class="container-fluid mt-5 bg-light py-5" id="one">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div>
          <h2 class="text-sm-center">لماذا ترافيل السياحية؟</h2>
          <span></span>
          <p class="mt-4"><span>شركة ترافيل السياحية</span>، شركة تركية رائدة في السياحة والسفر، والخدمات المساندة لهما؛ مقرها اسطنبول، ولديها تعامل مع أهم المنشآت السياحية التركية. حاصلة على ترخيص تورساب تحت الرقم 9152</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div>
          <h2>روابط مهمة</h2>
          <span></span>
          <ul class="mt-4">
            <li><a href="">من نحن</a></li>
            <li><a href="">اتصل بنا</a></li>
            <li><a href="">الاسئلة المتكررة</a></li>
            <li><a href="">سياسة الخصوصية</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div>
          <h2>خدمات ترافيل</h2>
          <span></span>
          <ul class="mt-4">
            <li><a href="">سيارة مع سائق</a></li>
            <li><a href="">حجوزات طيران</a></li>
            <li><a href="">فنادق و منتجعات</a></li>
            <li><a href="">البرامج السياحية</a></li>
            <li><a href="">الرحلات السياحية اليومية</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div>
          <h2>تواصل معنا</h2>
          <span></span>
          <ul class="mt-4">
            <li><a href=""><i class="bi bi-geo-alt-fill"></i> تركيا - اسطنبول </a></li>
            <li><a href=""><i class="bi bi-telephone-fill"></i> 90 21 2404 2000+</a></li>
            <li><a href=""><i class="bi bi-telephone-fill"></i> 90 21 2404 2000+</a></li>
            <li><a href=""><i class="bi bi-envelope"></i> info@travel.com </a></li>
            <li class="social">
              <a href="https://www.youtube.com/channel/UC-tllEn0un34mBG6TxhlbGg"><i class="bi bi-youtube"></i></a>
              <a href="https://twitter.com/safaraqtourism"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/Safaraqtourism"><i class="bi bi-messenger"></i></a>
              <a href="https://www.instagram.com/safaraqtourism/" ><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5" id="two">
  <div class="container">
    <div class="row">
      <div>
        <h1>مجموعة امتلاك</h1>
      </div>
      <owl-carousel-o [options]="footer" class="px-0 mx-0">
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/ilajak.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/imtilak.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/aldirasa.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/gars.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/tebadul.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/mimari.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/arkan.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/imt.svg" alt=""></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img">
            <a href=""><img  src="https://www.safaraq.com/assets/img/companies-logo/mesaken.svg" alt=""></a>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
