#program-one{
  margin-top:76px;padding:15px 0px;background:#fb8d04;width:100%;
  .row{
    div{
      .bi-house-door-fill{font-size:25px;}
      .bi-chevron-left{font-size:20px;}
      .bi-house-door-fill{color:#fff;}
      .bi-chevron-left{margin: 0px 10px;color:#9d1d96;}
      b{font-size:24px;color:#fff;}
    }
  }
}
#callusContent{display:none;}
#program-two{
  .row{
    div:first-child{
      .card{
        h1{color: #9d1d96;font-weight:bold;}
        span{color:#fb8d04;font-size:16px;}
        .card{
          button{color:#fb8d04;background:transparent;border:none;}
          .active-btn{background:#9d1d96;color:#fff}
        }
        #searchForProg{
          input[type="submit"]{
            box-shadow:none;outline:none;background:#fb8d04;
            color:#fff;}
        }
        #callusContent{
          #call{
            div{
              margin-top:10px;
              p{margin-bottom:5px;}
            }
            input{outline:none;box-shadow:none;}
            input[type="submit"]{background-color:#fb8d04;color:#fff;}
            span{font-size:16px;}
          }
        }
      }
    }

    .col-md-8{
      >div:first-child,div:nth-child(3){
        display:flex;flex-direction:row-reverse;width:100%;
        img{transform:rotateY(180deg);height:300px;}
        span{
          color:#fb8d04;border:1px solid #000;height:fit-content;padding:10px;
          margin-left:-80px;margin-top:100px;z-index:100;background:#fff;
        }
      }
      div:nth-child(2){
        width:100%;display:flex;flex-direction:row;
        span{
          color:#fb8d04;border:1px solid #000;height:fit-content;padding:10px;
          margin-right:-80px;margin-top:100px;z-index:100 !important;background:#fff;
        }
      }
    }
    @media screen and(max-width:400px) {
      img{width: 60% !important;}
    }
  }
}
.active-prog{color:#9d1d96;background: red;}


