.container{
  .row{
    .card{
      b,p{font-size:18px;height:40px;line-height:25px;}
      .row div{color:#9d1d96;}
      p{color:gray;}
      button{background:#9d1d96;color:#fff;border-top-left-radius:0px;
        border-top-right-radius:0px;}
    }
  }
}
