#famousPlaceOne{
  h1{color:#9D1D96;font-weight:bold;font-size:35px;line-height:45px;}
  .content:nth-child(odd){
    margin-top:-40px !important;
  }
  span{color: #9D1D96;font-size:20px;font-weight: 600;}
}
