<div class="container-fluid py-4 bg-light" style="margin-top:75px;">
  <div class="container p-0" id="firstInHome">
    <div class="row mx-md-2 rounded">
      <div class="col-sm-12 col-md-9 px-0">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active animate__animated animate__zoomIn">
              <div>
                <div class="mx-4 text-white">
                  <h2 class="col-sm-5 col-md-9">افضل الرحالات اليومية  السياحية من شركة ترافيل في تركيا.</h2>
                  <button>شاهد جميع الرحالات <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>

            <div class="carousel-item animate__animated animate__zoomIn">
              <div>
                <div class="mx-4 text-white">
                  <h2 class="col-sm-12 col-md-12">انطاليا..عاصمة السياحة العالمية</h2>
                  <button> شاهد المزيد <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>

            <div class="carousel-item animate__animated animate__zoomIn">
              <div>
                <div class="mx-4 text-white">
                  <h2 class="col-sm-12 col-md-10">تمتع بالطبيعة الساحرة في برنامج طرابزون الاقتصادي</h2>
                  <button> تفاصيل البرنامج <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>

            <div class="carousel-item animate__animated animate__zoomIn">
              <div>
                <div class="mx-4 text-white">
                  <h2 class="col-sm-12 col-md-10">برنامج سياحي مميز في  انطاليا وفتحية لمدة 8 ايام . لزيارة اجمل المعالم السياحية و التمتع فيها.</h2>
                  <button> احجز رحلتك الان  <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>

            <div class="carousel-item animate__animated animate__zoomIn">
              <div>
                <div class="mx-4 text-white">
                  <h2 class="col-sm-12 col-md-12">اسطنبول....مدينة الجمال والحضارة</h2>
                  <button>شاهد برامجنا المميزة <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>

            <div class="carousel-item animate__animated animate__zoomIn">
              <div>
                <div class="mx-4 text-white">
                  <h2 class="col-sm-12 col-md-12">افضل الملاهي المائية في انطاليا</h2>
                </div>
              </div>
            </div>
            <div class="carousel-item animate__animated animate__zoomIn">
              <div>
                <div class="mx-4 text-white">
                  <h2 class="col-sm-12 col-md-12">كبادوكيا الرائعة مدينة المناطيط و المظلات</h2>
                  <button>تعرف علي المزيد ! <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block large-2 px-1">
        <section class="aside-imgs" id="img-1">
          <div>
            <b class="col-md-10">افضل الرحالات اليومية  السياحية من شركة ترافيل في تركيا.</b>
          </div>
        </section>
        <section class="aside-imgs" id="img-2">
          <div>
            <b>انطاليا..عاصمة السياحة العالمية</b>
          </div>
        </section>
        <section class="aside-imgs" id="img-3">
          <div>
            <b class="col-md-10">تمتع بالطبيعة الساحرة في برنامج طرابزون الاقتصادي</b>
          </div>
        </section>
        <section class="aside-imgs" id="img-4">
          <div>
            <b class="col-md-10">برنامج سياحي مميز في  انطاليا وفتحية لمدة 8 ايام . لزيارة اجمل المعالم السياحية و التمتع فيها.</b>
          </div>
        </section>
        <section class="aside-imgs" id="img-5">
          <div>
            <b class="col-md-10">اسطنبول....مدينة الجمال والحضارة</b>
          </div>
        </section>
        <section class="aside-imgs" id="img-6">
          <div>
            <b class="col-md-10">افضل الملاهي المائية في انطاليا</b>
          </div>
        </section>
        <section class="aside-imgs" id="img-7">
          <div>
            <b class="col-md-10">كبادوكيا الرائعة مدينة المناطيط و المظلات</b>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-light">
  <div>
    <h2 class="text-center">برامج سياحية مميزة</h2>
    <h3 class="text-center">سافر إلى أروع الوجهات مع باقة تشمل الطيران الداخلي، الفنادق، النقل، الجولات السياحية وأكثر!</h3>
  </div>
  <div class="container px-0 my-5">
    <div class="row px-0 mx-0">
      <owl-carousel-o [options]="torismPrograms" class="px-0 mx-0">
        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white my-1">
           <div class="p-2">
             <img  src="../../assets/home/prog1.webp" alt="">
           </div>
           <div>
            <p><b>طرابزون وأوزنجول</b></p>
            <p>برنامج سياحي مميز في طرابزون واوزنجول لمدة 10 ايام لمشاهدة اجمل الاماكن السياحية والمعالم التاريخية
            </p>
           </div>
           <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white my-1">
            <div class="bg-white p-2">
              <img  src="../../assets/home/prog2.webp" alt="">
            </div>
            <div>
              <p><b>عرض انطاليا وفتحية</b></p>
              <p>
                برنامج سياحي مميز في أنطاليا وفتحية لمدة 8 أيام. الإقامة في فندق 4 نجوم. سائق خاص مع سيارة ومرشد سيا
                </p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white my-1">
            <div class="bg-white p-2">
              <img  src="../../assets/home/prog3.webp" alt="">
            </div>
            <div>
              <p><b>إسطنبول أرض السلاطين</b></p>
              <p>
               تمتع ببرنامج سياحي رائع لمدة 6 ايام في انطاليا في ارقى المنتجعات حيث يمكنك الاسترخاء والاستمتاع بجمي</p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white">
            <div class="p-2">
              <img  src="../../assets/home/prog4.webp" alt="">
            </div>
            <div>
              <p><b>عرض شهر العسل || إسطنبول – بورصة – أنطاليا</b></p>
              <p>
                هل ترغب بشهر عسل مفعم بالرومنسية؟ ابدأ حياتك الزوجية بذكريات لا تنسى، من خلال قيامك برحلة شهر عسل
                </p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white">
            <div class="p-2">
              <img  src="../../assets/home/prog5.webp" alt="">
            </div>
            <div>
              <p><b>برنامج طرابزون الاقتصادي</b></p>
              <p>
                تمتع بأجمل الرحلات السياحية في طرابزون لمدة 5 ايام وزريارة بحيرة أوزونجول وهضبة حيدر نبي. اقامة بفنا</p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white">
            <div class="p-2">
              <img  src="../../assets/home/prog6.webp" alt="">
            </div>
            <div>
              <p><b>طرابزون – أوزونغول – آيدر – صوميلا – جيرسون</b></p>
              <p>
تمتع بأجمل الأوقات في رحلة سياحية لكل من طرابزون, مرتفعات آيدر, دير سوميلا وجيرسون. والتي تشمل الإقامة
                </p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white">
            <div class="p-2">
              <img  src="../../assets/home/prog7.webp" alt="">
            </div>
            <div>
              <p><b>أنطاليا – فتحية وادي الفراشات 6 ايام</b></p>
              <p>
أفضل برنامج سياحي في تركيا أنطاليا وفتحية ووادي الفراشات لمدة 6 ايام ضمن أجمل بقاع المدينة الخلابة</p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white">
            <div class="p-2">
              <img  src="../../assets/home/prog8.webp" alt="">
            </div>
            <div>
              <p><b>عرض شهر العسل || انطاليا و فتحية</b></p>
              <p>
              أفضل برنامج سياحي في تركيا أنطاليا وفتحية ووادي الفراشات لمدة 6 ايام ضمن أجمل بقاع المدينة الخلابة</p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white ">
            <div class="p-2 bg-white">
              <img  src="../../assets/home/prog9.webp" alt="">
            </div>
            <div>
              <p><b>برنامج انطاليا - المنتجعات</b></p>
              <p>
               تمتع ببرنامج سياحي رائع لمدة 6 ايام في انطاليا في ارقى المنتجعات حيث يمكنك الاسترخاء والاستمتاع بجمي</p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="slide mx-2 bg-white">
            <div class="p-2">
              <img  src="../../assets/home/prog10.webp" alt="">
            </div>
            <div>
              <p><b>طرابزون - الصيف</b></p>
              <p>
                تمتع ببرنامج سياحي رائع لمدة 6 ايام في انطاليا في ارقى المنتجعات حيث يمكنك الاسترخاء والاستمتاع بجمي
                </p>
            </div>
            <button class="btn d-block" bg-change>انطلق معنا</button>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="row mt-5">
      <div class="text-center">
        <button class="btn">اظهار جميع البرامج السياحية</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" id="md-mdwanetSafar">
  <div class="row">
    <div class="col-sm-12 d-md-block col-md-4 py-3">
      <div>
        <h2 class="text-center">مدونة السفر</h2>
        <h4 class="text-center">أهم الأخبار والمقالات عن السياحة في تركيا</h4>
        <div class="row mt-3">
          <div class="col-4  rounded">
            <img src="../../assets/home/x1.jpg" height="90px" width="100%" class="rounded">
          </div>
          <div class="col-8 px-1">
            <div>
              <a href="#" class="text-decoration-none"><p class="mb-2">السياحة في تركيا: أكثر من 12 مليون..</p></a>
            </div>
            <div class="row">
              <div class="col">
                <i class="bi bi-alarm"></i>
                <span>منذ 14 دقيقة</span>
              </div>
              <div class="col">
                <i class="bi bi-eye-fill"></i>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4  rounded">
            <img src="../../assets/home/x2.jpg" height="90px" width="100%" class="rounded">
          </div>
          <div class="col-8 px-1">
            <div>
              <a href="#" class="text-decoration-none"><p class="mb-2">أجمل أكواخ آيدر لقضاء رحلة ممتعة</p></a>
            </div>
            <div class="row">
              <div class="col">
                <i class="bi bi-alarm"></i>
                <span>منذ 3 أيام</span>
              </div>
              <div class="col">
                <i class="bi bi-eye-fill"></i>
                <span>7</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4  rounded">
            <img src="../../assets/home/x3.jpg" height="90px" width="100%" class="rounded">
          </div>
          <div class="col-8 px-1">
            <div>
              <a href="#" class="text-decoration-none"><p class="mb-2">أفضل 6 فنادق كابادوكيا ...</p></a>
            </div>
            <div class="row">
              <div class="col">
                <i class="bi bi-alarm"></i>
                <span>منذ  3 أيام</span>
              </div>
              <div class="col">
                <i class="bi bi-eye-fill"></i>
                <span>99</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4  rounded">
            <img src="../../assets/home/x4.jpg" height="90px" width="100%" class="rounded">
          </div>
          <div class="col-8 px-1">
            <div>
              <a href="#" class="text-decoration-none"><p class="mb-2">أجمل اكواخ ريزا لقضاء رحلة مميزة</p></a>
            </div>
            <div class="row">
              <div class="col">
                <i class="bi bi-alarm"></i>
                <span>منذ  3 أيام</span>
              </div>
              <div class="col">
                <i class="bi bi-eye-fill"></i>
                <span>17</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4  rounded">
            <img src="../../assets/home/x5.jpg" height="90px" width="100%" class="rounded">
          </div>
          <div class="col-8 px-1">
            <div>
              <a href="#" class="text-decoration-none"><p class="mb-2">أجمل اكواخ ريزا لقضاء رحلة مميزة</p></a>
            </div>
            <div class="row">
              <div class="col">
                <i class="bi bi-alarm"></i>
                <span>منذ  4 أيام</span>
              </div>
              <div class="col">
                <i class="bi bi-eye-fill"></i>
                <span>18</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 d-md-block col-md-8 py-3">
      <div>
        <h2 class="text-center">معرض الصور</h2>
        <h3 class="text-center">صور جميلة من تركيا</h3>
      </div>
      <div class="container-fluid">
        <owl-carousel-o [options]="customOptions" class="col-sm-6 col-md-4">
          <ng-template carouselSlide *ngFor="let slid of slidesStore">
            <div class="mx-1">
              <img [src]="slid.src" width="100%" class="img" height="200px" style="border-radius:20px;"/>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <div style="padding-top:50px;">
        <h2 class="text-center">آخر الفيديوهات</h2>
        <h3 class="text-center">شاهد أجمل مقاطع الفيديو من تركيا</h3>
      </div>
      <div class="container-fluid">
        <owl-carousel-o [options]="videosSlider" class="col-sm-6 col-md-4">
          <ng-template carouselSlide *ngFor="let video of videoStore">
            <div class="mx-1" id="video">
              <img [src]="video.src" width="100%" class="img" height="200px" style="border-radius:20px;"/>
              <a [href]="video.link">
                <i class="bi bi-play-fill"></i>
              </a>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid" id="services">
  <div class="container py-5">
    <div>
      <h2 class="text-center">خدمات ترافيل السياحية</h2>
      <h3 class="text-center">خدمات حسب الطلب لرحلات سياحية مميزة في تركيا.</h3>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-5">
        <div class="row px-5">
          <a routerLink="/flight-booking" class="d-md-inline-flex text-sm-center">
            <span>حجوزات طيران</span>
            <img id="myImage" src="../../assets/home/plane.png">
          </a>
        </div>
        <div class="row px-5">
          <a href="#" class="d-md-inline-flex text-sm-center">
            <span>سيارات خاصة</span>
            <img src="../../assets/home/truck.png" alt="">
          </a>
        </div>
        <div class="row px-5">
          <a href="#" class="d-md-inline-flex text-sm-center">
            <span class="h6">فنادق و منتجعات</span>
            <img src="../../assets/home/hotel.png" alt="">
          </a>
        </div>
        <div class="row px-5">
          <a href="#" class="d-md-inline-flex text-sm-center">
            <span>رحلات سياحية</span>
            <img src="../../assets/home/sunbed.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-center mt-5">
        <img src="../../assets/home/services-image.png" class="w-100">
      </div>
    </div>
  </div>
</div>

<!-- Start say about safaraq-->
<div class="container" id="say-about-safaraq">
  <div class="row" style="position:relative;">
    <swiper class="mySwiper my-4" [config]="config">
      <ng-template swiperSlide *ngFor="let opinion of sayAbouSafaraq" >
        <div class="card container-fluid">
          <div class="body">
            <div class="row mt-3">
              <div class="col-3 ">
                <img class="rounded-circle" width="100%" height="65" [src]="opinion.imgSrc">
              </div>
              <div class="col-9 mx-0 px-0">
                <p class="mb-0 mt-2">{{opinion.name}}</p>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill ml-1"></i>
                <i class="bi bi-star-fill ml-1"></i>
                <i class="bi bi-star-fill ml-1"></i>
                <i class="bi bi-star-fill ml-1"></i>
              </div>
            </div>
            <p>{{opinion.saidText}}</p>
          </div>
          <button class="btn text-center" (click)="openPopup(opinion.src)" [id]="opinion.btnID">مشاهدة الفديو</button>
        </div>
      </ng-template>
    </swiper>
    <div class="popup text-center" id="popup" >
      <i class="bi bi-x-circle" (click)="closePopup()"></i>
      <iframe class="mx-auto" width="90%" src="https://www.youtube.com/embed/55awcuTL5_E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- End say about safaraq -->


